{{ indent }}SettingsRow {
{{ indent }}    label: {{ label_expr }}
{{ indent }}    description: {{ fact_ref }}.shortDescription
{{ indent }}    visible: {{ vis_expr }}
{% if fills_row %}
{{ indent }}    controlFillsRow: true
{% endif %}
{% if control_width %}
{{ indent }}    controlPreferredWidth: {{ control_width }}
{% endif %}

{{ control_qml_indented }}
{{ indent }}}